@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .header-title {
    @apply text-white text-3xl lg:text-4xl xl:text-5xl text-center !font-bebas mb-6 leading-tight;
  }

  .sub-title {
    @apply text-textDark text-center text-base md:text-lg xl:text-xl;
  }

  .container-default {
    @apply w-full max-w-7xl px-4 md:px-5 lg:px-5 mx-auto;
  }

  .title-beyoutiful {
    @apply text-white text-3xl lg:text-[40px] text-center font-montserrat mb-6 font-medium;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    /* scrollbar-width: none; */
    /* Firefox */
  }

  .scrollbar {
    padding-bottom: 10px;
    overflow-x: scroll;
    scrollbar-width: 100%;
    /* Pastikan ini ada */
  }

  .scrollbar::-webkit-scrollbar {
    height: 8px;
    background-clip: content-box;
    display: block;
    /* Biar ada jarak 10px */
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    background-clip: content-box;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins);
}

#rent-space .raw-html-embed p {
  text-indent: 0 !important;
  margin-left: 0 !important;
}


/* Tampilkan scrollbar di desktop */
@media (min-width: 768px) {
  .scrollbar {
    padding-bottom: 10px;
  }

  .scrollbar::-webkit-scrollbar {
    height: 6px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
}